<a href="https://colab.research.google.com/github/basharbayatna/Insurance-Data/blob/main/Groupby(Core).ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#Groupby Core

##BasharBayatna

In [12]:
import pandas as pd

url = '/content/drive/MyDrive/AXSOSACADEMY/01-Fundamentals/Week02/Data/insurance_mod.csv'

df_insurance = pd.read_csv(url)

#Q1:  (avg age for the data)

#to answer im gonna filter the age col and use the .mean()

age_col = df_insurance['age']
age_col.mean().round(2)

np.float64(39.21)

In [2]:
#Q2: age of the oldest person
# im going to use the .max() function on the age coln

age_col.max()

64

In [3]:

#Q3: Youngest person... same way but using the .min() fun.

age_col.min()

18

In [11]:
#Q4: AVG Charges..

charges_col = df_insurance['charges']
charges_col.mean()
Avg_charges = charges_col.mean().round(2)

Avg_charges

np.float64(13270.41)

In [5]:

#Q5 : AVG charges grouped by sex




avg_charged_gp_bysex = df_insurance.groupby('sex')['charges'].mean().round(2)

avg_charged_gp_bysex

sex
female    12569.58
male      13956.73
Name: charges, dtype: float64

In [6]:

#Q6: AVG charges grouped by if the person is somker

avg_charged_gp_bysmoke = df_insurance.groupby('smoker')['charges'].mean().round(2)

avg_charged_gp_bysmoke

smoker
0     8434.26
1    32050.23
Name: charges, dtype: float64

In [7]:
#Q7 :  AVG charged grouped by smoke and their sex


avg_charged_gp_by_somke_sex = df_insurance.groupby(['smoker', 'sex'])['charges'].mean().round(2)

In [8]:
#oao = avg_charged_gp_bysmoke & avg_charged_gp_bysex

avg_charged_gp_by_somke_sex

smoker  sex
0       female     8762.31
        male       8087.18
1       female    30678.98
        male      33042.01
Name: charges, dtype: float64

In [10]:

age_col = df_insurance['age']
age_col.mean().round(2)

np.float64(39.21)